// Modal
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  &-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  &-wrapper {
    background: #fff;
    max-width: 365px;
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 20px 30px 30px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    .btn {
      margin-right: 10px;
      &:last-child {margin-right: 0;}
    }
  }
  &.show &-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.modal, .modal-overlay, .modal-wrapper {
  transition: all 200ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.modal.show {
  opacity: 1;
  visibility: visible;
  .modal-overlay, .modal-wrapper {
    opacity: 1;
    visibility: visible;
  }
}